<h2 mat-dialog-title>Cambiar Contraseña</h2>

<div class="tarjeta-redondeada">
    <mat-dialog-content class="dialog-content">
        
        <div style="margin-bottom: 10px; margin-top: -20px;">Por motivos de seguridad, se requiere actualizar su contraseña al iniciar sesión por primeravez.</div>
        
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSave()" class="form-container">

            <!-- Campo: Password -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" 
                        formControlName="password"
                        placeholder="Ingresa tu nueva contraseña" />

                <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword"
                    [attr.aria-label]="'Ocultar contraseña'">
                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>

                <!-- Mensajes de Error -->
                @if (changePasswordForm.get('password')?.hasError('required')) {
                <mat-error>La contraseña es requerida.</mat-error>
                }
                @if (changePasswordForm.get('password')?.hasError('minlength')) {
                <mat-error>La contraseña debe tener al menos 8 caracteres, al menos 1 mayúscula, 1 minúscula, 1 número y 1 carácter especial</mat-error>
                }
            </mat-form-field>

            <!-- Campo: Confirma Password -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Confirma Contraseña</mat-label>
                <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" formControlName="confirmPassword"
                    placeholder="Repite tu nueva contraseña" />
                <button mat-icon-button matSuffix type="button" (click)="hideConfirmPassword = !hideConfirmPassword"
                    [attr.aria-label]="'Ocultar contraseña'">
                    <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>

                <!-- Mensajes de Error -->
                @if (changePasswordForm.get('confirmPassword')?.hasError('required')) {
                <mat-error>La confirmación de contraseña es requerida.</mat-error>
                }
                @if (changePasswordForm.get('confirmPassword')?.hasError('passwordMismatch') &&
                !changePasswordForm.get('confirmPassword')?.hasError('required')) {
                <mat-error>Las contraseñas no coinciden.</mat-error>
                }
            </mat-form-field>

        </form>
    </mat-dialog-content>


</div>


<!-- Botones de Acción -->
<mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onCancel()">
        Cancelar
    </button>
    <button  matButton="filled" type="button"  (click)="onSave()"  [disabled]="changePasswordForm.invalid">
        Actualizar
    </button>
</mat-dialog-actions>