<h2 mat-dialog-title>Registrar Nuevo Usuario</h2>

<mat-dialog-content>
    <form [formGroup]="usuarioForm" class="dialog-form">

        <!-- Sección: Configuración del Usuario -->
        <div class="form-section mt-3">
            <h3 class="form-section-title">Configuración del Usuario</h3>
            <div class="row pt-3">
                <!-- Ubicación -->
                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Ubicación</mat-label>
                        <mat-select formControlName="idUbicacion"
                            (selectionChange)="onUbicacionChange($event.value)">
                            @for (item of ubicaciones; track item.id) {
                            <mat-option [value]="item.id">
                                {{ item.nombreUbicacion }}
                            </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>

                <!-- Inmueble -->
                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Inmueble</mat-label>
                        <mat-select formControlName="idInmueble">
                            @for (inmueble of casalist; track inmueble.id) {
                            <mat-option [value]="inmueble.id">
                                {{ inmueble.numeroCasa }}
                            </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>

                <!-- Rol -->
                <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Rol</mat-label>
                        <mat-select formControlName="idRol">
                            @for (rol of roles; track rol.id) {
                            <mat-option [value]="rol.id">
                                {{ rol.rol }}
                            </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>

            <div class="row pt-3">
                <mat-radio-group  formControlName="idTipoRelacion"> 
                    <mat-radio-button [value]="1">Propietario</mat-radio-button>
                    <mat-radio-button [value]="2">Inquilino</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

        <!-- Sección: Información del Usuario -->
        <div class="form-section">
            <h3 class="form-section-title">Información del Usuario</h3>

            <div class="row">

                <!-- Nombre -->
                <div class="col-md-4">

                    <mat-label>Nombre(s)</mat-label>
                    <input matInput type="text" formControlName="nombreUsuario" placeholder="Nombre(s)" required />
                    @if (usuarioForm.get('nombreUsuario')?.hasError('required') &&
                    usuarioForm.get('nombreUsuario')?.touched) {
                    <mat-error>El nombre es obligatorio.</mat-error>
                    }
                </div>

                <!-- Apellidos -->
                <div class="col-md-4">

                    <mat-label>Apellidos</mat-label>
                    <input matInput type="text" formControlName="apellidosUsuario" placeholder="Apellidos" required />
                    @if (usuarioForm.get('apellidosUsuario')?.hasError('required') &&
                    usuarioForm.get('apellidosUsuario')?.touched) {
                    <mat-error>Los apellidos son obligatorios.</mat-error>
                    }

                </div>

                <!-- Celular -->
                <div class="col-md-4">

                    <mat-label>Celular</mat-label>
                    <input matInput type="tel" formControlName="celularUsuario" placeholder="5512345678" />

                </div>

                <span class="row" style="padding-top: 20px;">
                    <!-- Email -->
                    <div class="col-md-4">

                        <mat-label>Correo Electrónico</mat-label>
                        <input matInput type="email" formControlName="emailUsuario" placeholder="correo@dominio.com"
                            required />
                        @if (usuarioForm.get('emailUsuario')?.invalid && usuarioForm.get('emailUsuario')?.touched) {
                        <mat-error>Correo electrónico inválido.</mat-error>
                        }

                    </div>

                    <!-- Password -->
                    <!-- <div class="col-md-4">

                        <mat-label>Contraseña</mat-label>
                        <input matInput type="password" formControlName="password" placeholder="********" required />
                        @if (usuarioForm.get('password')?.hasError('required') && usuarioForm.get('password')?.touched)
                        {
                        <mat-error>La contraseña es obligatoria.</mat-error>
                        }

                    </div> -->

                    <!-- Confirmar Password -->
                    <!-- <div class="col-md-4">

                        <mat-label>Confirmar Contraseña</mat-label>
                        <input matInput type="password" formControlName="confirmarPassword" placeholder="********"
                            required />
                        @if (usuarioForm.get('confirmarPassword')?.hasError('required') &&
                        usuarioForm.get('confirmarPassword')?.touched) {
                        <mat-error>Debe confirmar la contraseña.</mat-error>
                        }
                        @if (usuarioForm.hasError('passwordMismatch') && usuarioForm.get('confirmarPassword')?.touched)
                        {
                        <mat-error>Las contraseñas no coinciden.</mat-error>
                        }

                    </div> -->
                </span>
            </div>
        </div>


    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="onCancelar()">
        Cancelar
    </button>
    <button mat-raised-button color="primary" [disabled]="usuarioForm.invalid" (click)="mostrarConfirmacion()">
        Guardar Usuario
    </button>
</mat-dialog-actions>